[Unit]
Description=Load Balancer
Requires=consul.service
After=consul.service

[Service]
User=root
Restart=always
RestartSec=5
TimeoutStartSec=0
ExecStart={{lb_dir}}/fabio

[Install]
WantedBy=multi-user.target